.flex{
    display: flex;
}
.around_flex{
    display: flex;
    /*border: 1px solid black;*/
    justify-content: space-around;
}

.between_flex{
    display:flex;
    justify-content: space-between;
    
}

.center_align{
align-items:center;
}


#injectJs{
    width: 50%;
}

#basket-recap{
    width: fit-content;
    font-size: 18px;
}

.ligne_panier{
    border-bottom: 1px solid black;
}

.panier_buttons{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.button_panier {
    display: inline-block;
    padding: 6px 16px;
    font-size: 17px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: solid 1px grey;
    color: #000000;
    background-color: #ffffff;
    border: none;
    border-radius: 11px;
    box-shadow: 0 5px #787878;
  }
  
  .button_panier:hover {background-color: #cecece}
  
  .button_panier:active {
    background-color: #ffffff;
    box-shadow: 0 1px #666;
    transform: translateY(4px);
  }

.remove_button_panier{
    outline: none;
    border: none;
    background-color: white;
    cursor: pointer;
}

.button_recap{
    outline: 4px solid #000;
    font-size:20px;
    width: 70%;
    min-width: fit-content;
    display:inline-block;
    padding: 7px 0 7px 0;
}
.button_recap:hover{
    outline:3px solid black;
}

.button_back_recap{
    outline:1px solid rgba(0, 0, 0, 0.508);
    font-size:18px;
    background-color:rgb(228, 228, 228);
    width: 70%;
    min-width: fit-content;
    padding: 7px 0 7px 0;
    cursor: pointer;
}
.button_back_recap:hover{
    outline:3px solid black;
}

#blocimage img{
    max-width: 200px;
    max-height: 200px;
}

