*{
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  font-family: sans-serif;
  color: black;
}


.navbar{
  padding: 10px 0 30px 0;
  height: 5vh;
  width: 100%;
}

.navbar ul{
  text-align: center;
}
.navbar ul li{
  float: none;
  display:inline-block;
  padding: 5px;
}


.navbar ul li:nth-child(2){
  float: left;
  margin: 20px 10px 0px 10px;

}

.navbar ul li:nth-child(3){
  float: left;
  margin: 20px 10px 0px 10px;
}


.navbar ul li:nth-child(6){
  float: right;
  margin: 20px 10px 0px 10px;
}

.navbar ul li:nth-child(7){
  float: right;
  margin: 20px 10px 0px 10px;
}

.navbar ul li a{
  color: black;
  font-size: 15px;
  text-transform: uppercase;
  text-decoration: none;
  display: block;
}

.menu{
  width: 100%;
  height: 20%;
  background-color: #fff;
}

.menu a{
  color: black;
  text-decoration: none;
  display: inline-block;
}

.menu ul li{
  float: none;
  display:inline-block;
  padding: 15px 20px ;
  font-size: 2rem; 
}

.menu > ul > li{
  float: left;
  position: relative;
  
}

.menu >ul::after{
  content: "";
  display:table;
  clear: both;
}

.menu li:hover .submenu{
  display: inline-block;
  position: absolute;
  top: 100%;
  left: 0%;
  z-index: 10000;
}
.submenu{
  display: none;

}
.submenu li {
  width: 100%;
  background-color: #fff;
}
.submenu  li a{
  padding: 15px 30px;
  font-size: 25px;
  color: black;
}

hr{
  border-top: 1px solid;
}

.logo{
  letter-spacing: -3px;
  font-size: 3em; 
  font-weight: bold;
}
.titre{
  font-size: 3em;

}

.border a:hover{
  border-bottom: 2px solid; 
} 


.slider {
  width: 100%;
  position: relative;
}

.slider-viewport {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.slider-content {
  display: grid;
  grid-auto-flow: column;
  -webkit-transition: 1s all;
  transition: 1s all;
}
.slider-content img {
  width:  1500px;
  height: 650px;
}

.slider-nav {
  position: absolute;
  width: 100%;
  margin-top: -40px;
  text-align: center;
}
.slider-nav a {
  -webkit-box-shadow: 0px 0px 2px 0px rgb(255, 255, 255);
          box-shadow: 0px 0px 2px 0px rgb(255, 255, 255);
  display: inline-block;
  width: 350px;
  height: 15px;
  margin: 0 30px;
}
.slider-nav a:hover {
  background-color: #fff;
  -webkit-box-shadow: 0px 0px 5px 0px rgba(255, 255, 255, 0.8);
          box-shadow: 0px 0px 5px 0px rgba(255, 255, 255, 0.8);
}

#img2:target .slider-content {
  -webkit-transform: translateX(-1500px);
          transform: translateX(-1500px);
}

#img3:target .slider-content {
  -webkit-transform: translateX(-3000px);
          transform: translateX(-3000px);
}

#img4:target .slider-content {
  -webkit-transform: translateX(-4500px);
          transform: translateX(-4500px);
}

#img5:target .slider-content {
  -webkit-transform: translateX(-6000px);
          transform: translateX(-6000px);
}
@keyframes Images {
  0%{
    transform: translateX(0);
  }
  25%{
    transform: translateX(-1450px);
  }
  50%{
    transform: translateX(-2900px);
  }
  75%{
    transform: translateX(-4350px);
  }
  100%{
    transform: translateX(0);
  }
}

.New_in{
  font-size: 2rem; 
  padding: 30px 10px 0px 20px;
}

.New_in img{
  width: 60px;
  height: 60px;
  padding-left:1% ;
}

.wrapper 
{
    width: 450px;
    height: 600px;
    position: relative;
    overflow: hidden;
    float: left;
    padding: 30px 16px;
}

.wrapper img{
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    transition: .5s ease;
}

.wrapper .content{
    position: absolute;
    top: 45%;
    left: 38%;
    overflow: hidden;
    color: #fff;
    font-size: 60px;
}
.wrapper .content a{
    font-size: 24px;
    display: block;
    text-align: center;
    padding: 10px;
    cursor: pointer;
}

.overlay{
    opacity: 0;
}

.wrapper:hover img{
    opacity: .5;
}

.wrapper:hover .overlay{
    opacity: 1;
}


.wrapper2 
{
    width: 600px;
    height: 800px;
    position: relative;
    overflow: hidden;
    float: left;
    padding: 30px 60px 10px 60px;
}

.wrapper2 img{
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    transition: .5s ease;
}

.wrapper2 .content{
    position: absolute;
    top: 45%;
    left: 38%;
    overflow: hidden;
    color: #fff;
    font-size: 60px;
}
.wrapper2 .content a{
    font-size: 24px;
    display: block;
    text-align: center;
    padding: 10px;
    cursor: pointer;
}

.overlay{
    opacity: 0;
}

.wrapper2:hover img{
    opacity: .5;
}

.wrapper2:hover .overlay{
    opacity: 1;
}



.titre_compte{
  
  text-align: center;
  font-size: 10rem;
}

.compte{
  margin: auto;
  height: 800px;
  width: 1200px;
  padding: 10px;
}

.connexion{
  width: 570px;
  font-size: 1.5rem;
  padding:10px ;
  text-align:center;
  height: 30px;
  float: left;
  border: 4px solid;
}

.inscription{
  width: 570px;
  font-size: 1.5rem;
  padding:10px ;
  text-align:center;
  height: 30px;
  float: right;
  border: 4px solid;
}


.inscription_button{
  width: 570px;
  font-size: 1.5rem;
  padding:12px ;
  text-align:center;
  height: 57px;
  float: right;
  border: 2px solid;
  background-color: #fff;
}

.inscription_button:hover {
  border: 3px solid;
}

.connexion_button{
  width: 570px;
  font-size: 1.5rem;
  padding:12px ;
  text-align:center;
  height: 57px;
  float:left;
  border: 2px solid;
  background-color: #fff;
}

.connexion_button:hover {
  border: 3px solid;
}

.email{
  margin-top: 20px;
  border: 2px solid;
  float:left;
  height: 3px;
  width: 1157px;
  padding: 20px;
}

.valider{
  margin-top: 20px;
  background-color: #fff;
  border: 2px solid;
  float:left;
  font-size: 1.2rem;
  text-align: center;
  height: 30px;
  width: 1200px;
  padding: 10px 20px 30px 30px;
}

.valider:hover {
  background-color:gray;
  color: #fff;
}


#checkbox{
  height: 20px;
  width: 20px;
  border: 2px solid;
}
.checkbox{
  display: block;
  float: left;
  width: 100px;
}
.checkbox2{
  margin: auto; 
}

.identité{
  padding: 20px 0px;
}
.prenom{
  width: 570px;
  font-size: 1rem;
  padding:5px ;
  height: 30px;
  float: left;
  border: 2px solid;
}

.nom{
  width: 570px;
  font-size: 1rem;
  padding:5px ;
  height: 30px;
  float: right;
  border: 2px solid;
}



.custom-select select {
  display: none; /*hide original SELECT element: */
}

.select-selected {
  background-color: DodgerBlue;
}

/* Style the arrow inside the select element: */
.select-selected:after {
  position: absolute;
  content: "";
  top: 14px;
  right: 10px;
  width: 0;
  height: 0;
  border: 6px solid transparent;
  border-color: #fff transparent transparent transparent;
}

/* Point the arrow upwards when the select box is open (active): */
.select-selected.select-arrow-active:after {
  border-color: transparent transparent #fff transparent;
  top: 7px;
}

/* style the items (options), including the selected item: */
.select-items div,.select-selected {
  color: #ffffff;
  padding: 8px 16px;
  border: 1px solid transparent;
  border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
  cursor: pointer;
}

/* Style items (options): */
.select-items {
  position: absolute;
  background-color: DodgerBlue;
  top: 100%;
  left: 0;
  right: 0;
  z-index: 99;
}

/* Hide the items when the select box is closed: */
.select-hide {
  display: none;
}

.select-items div:hover, .same-as-selected {
  background-color: rgba(0, 0, 0, 0.1);
}