*{
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  font-family: sans-serif;
  color: black;
}


.navbar{
  padding: 10px 0 30px 0;
  height: 5vh;
  width: 100%;
}

.navbar ul{
  text-align: center;
}
.navbar ul li{
  float: none;
  display:inline-block;
  padding: 5px;
}


.navbar ul li:nth-child(2){
  float: left;
  margin: 20px 10px 0px 10px;

}

.navbar ul li:nth-child(3){
  float: left;
  margin: 20px 10px 0px 10px;
}


.navbar ul li:nth-child(6){
  float: right;
  margin: 20px 10px 0px 10px;
}

.navbar ul li:nth-child(7){
  float: right;
  margin: 20px 10px 0px 10px;
}

.navbar ul li a{
  color: black;
  font-size: 15px;
  text-transform: uppercase;
  text-decoration: none;
  display: block;
}

.menu{
  width: 100%;
  height: 20%;
  background-color: #fff;
}

.menu a{
  color: black;
  text-decoration: none;
  display: inline-block;
}

.menu ul li{
  float: none;
  display:inline-block;
  padding: 15px 20px ;
  font-size: 2rem; 
}

.menu > ul > li{
  float: left;
  position: relative;
  
}

.menu >ul::after{
  content: "";
  display:table;
  clear: both;
}

.menu li:hover .submenu{
  display: inline-block;
  position: absolute;
  top: 100%;
  left: 0%;
  z-index: 10000;
}
.submenu{
  display: none;

}
.submenu li {
  width: 100%;
  background-color: #fff;
}
.submenu  li a{
  padding: 15px 30px;
  font-size: 25px;
  color: black;
}

hr{
  border-top: 1px solid;
}

.logo{
  letter-spacing: -3px;
  font-size: 3em; 
  font-weight: bold;
}
.titre{
  font-size: 3em;

}

.border a:hover{
  border-bottom: 2px solid; 
} 


.slider {
  width: 100%;
  position: relative;
}

.slider-viewport {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.slider-content {
  display: grid;
  grid-auto-flow: column;
  -webkit-transition: 1s all;
  transition: 1s all;
}
.slider-content img {
  width:  1500px;
  height: 650px;
}

.slider-nav {
  position: absolute;
  width: 100%;
  margin-top: -40px;
  text-align: center;
}
.slider-nav a {
  -webkit-box-shadow: 0px 0px 2px 0px rgb(255, 255, 255);
          box-shadow: 0px 0px 2px 0px rgb(255, 255, 255);
  display: inline-block;
  width: 350px;
  height: 15px;
  margin: 0 30px;
}
.slider-nav a:hover {
  background-color: #fff;
  -webkit-box-shadow: 0px 0px 5px 0px rgba(255, 255, 255, 0.8);
          box-shadow: 0px 0px 5px 0px rgba(255, 255, 255, 0.8);
}

#img2:target .slider-content {
  -webkit-transform: translateX(-1500px);
          transform: translateX(-1500px);
}

#img3:target .slider-content {
  -webkit-transform: translateX(-3000px);
          transform: translateX(-3000px);
}

#img4:target .slider-content {
  -webkit-transform: translateX(-4500px);
          transform: translateX(-4500px);
}

#img5:target .slider-content {
  -webkit-transform: translateX(-6000px);
          transform: translateX(-6000px);
}
@keyframes Images {
  0%{
    transform: translateX(0);
  }
  25%{
    transform: translateX(-1450px);
  }
  50%{
    transform: translateX(-2900px);
  }
  75%{
    transform: translateX(-4350px);
  }
  100%{
    transform: translateX(0);
  }
}

.New_in{
  font-size: 2rem; 
  padding: 30px 10px 0px 20px;
}

.New_in img{
  width: 60px;
  height: 60px;
  padding-left:1% ;
}

.wrapper 
{
    width: 450px;
    height: 600px;
    position: relative;
    overflow: hidden;
    float: left;
    padding: 30px 16px;
}

.wrapper img{
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    transition: .5s ease;
}

.wrapper .content{
    position: absolute;
    top: 45%;
    left: 38%;
    overflow: hidden;
    color: #fff;
    font-size: 60px;
}
.wrapper .content a{
    font-size: 24px;
    display: block;
    text-align: center;
    padding: 10px;
    cursor: pointer;
}

.overlay{
    opacity: 0;
}

.wrapper:hover img{
    opacity: .5;
}

.wrapper:hover .overlay{
    opacity: 1;
}


.wrapper2 
{
    width: 600px;
    height: 800px;
    position: relative;
    overflow: hidden;
    float: left;
    padding: 30px 60px 10px 60px;
}

.wrapper2 img{
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    transition: .5s ease;
}

.wrapper2 .content{
    position: absolute;
    top: 45%;
    left: 38%;
    overflow: hidden;
    color: #fff;
    font-size: 60px;
}
.wrapper2 .content a{
    font-size: 24px;
    display: block;
    text-align: center;
    padding: 10px;
    cursor: pointer;
}

.overlay{
    opacity: 0;
}

.wrapper2:hover img{
    opacity: .5;
}

.wrapper2:hover .overlay{
    opacity: 1;
}



.titre_compte{
  text-align: center;
  font-size: 10rem;
  color: black;
  -webkit-animation: 1s couleur infinite alternate;
}

@-webkit-keyframes couleur{
  0%{color:red;}
  25%{color:blue;}
  50%{color:green;}
  75%{color:yellow;}
  100%{color:purple;}

}


.compte{
  margin: auto;
  height: 900px;
  width: 1200px;
  padding: 10px;
}

.connexion{
  width: 570px;
  font-size: 1.5rem;
  padding:10px ;
  text-align:center;
  height: 30px;
  float: left;
  border: 4px solid;
}

.inscription{
  width: 570px;
  font-size: 1.5rem;
  padding:10px ;
  text-align:center;
  height: 30px;
  float: right;
  border: 4px solid;
}


.inscription_button{
  width: 570px;
  font-size: 1.5rem;
  padding:12px ;
  text-align:center;
  height: 57px;
  float: right;
  border: 2px solid;
  background-color: #fff;
}

.inscription_button:hover {
  border: 3px solid;
}

.connexion_button{
  width: 570px;
  font-size: 1.5rem;
  padding:12px ;
  text-align:center;
  height: 57px;
  float:left;
  border: 2px solid;
  background-color: #fff;
}

.connexion_button:hover {
  border: 3px solid;
}

.email{
  margin-top: 20px;
  border: 2px solid;
  float:left;
  height: 3px;
  width: 1157px;
  padding: 20px;
}

.valider{
  margin-top: 20px;
  background-color: #fff;
  border: 2px solid;
  float:left;
  font-size: 1.2rem;
  text-align: center;
  height: 30px;
  width: 1200px;
  padding: 10px 20px 30px 30px;
}

.valider:hover {
  background-color:gray;
  color: #fff;
}


.valider2{
  margin-top: 20px;
  background-color: #fff;
  border: 3px solid;
  border-color: rgb(167, 74, 255);
  float:left;
  color: rgb(167, 74, 255);
  font-size: 1.2rem;
  text-align: center;
  height: 30px;
  width: 1200px;
  padding: 10px 20px 30px 30px;
}

.valider2:hover {
  background-color:rgb(167, 74, 255);
  color: #fff;
}




#checkbox{
  height: 20px;
  width: 20px;
}
.checkbox{
  display: block;
  float: left;
  width: 100px;
}
.checkbox2{
  margin: auto; 
}

.label{
  height: 20px;
  width: 1200px;
  padding-top: 10px;
  padding-left: 10px;
}
.checkbox3{
  display: flex;
  float: left;
  font-size: 10px;
  padding-top: 20px;
}


.checkbox4{
  display: flex;
  font-size: 15px;
  padding: 20px;
}

.checkbox label{
  padding-left: 10px;
}
.identité{
  padding: 20px 0px;
  padding-bottom: 20px;
}
.prenom{
  margin-top: 5px;
  border: 2px solid;
  float:left;
  height: 3px;
  width:565px;
  padding: 20px;
}

.nom{
  margin-top: 5px;
  border: 2px solid;
  float:right;
  height: 3px;
  width:540px;
  padding: 20px;
}

.custom-select{
  display: flex;
  padding-top: 20px;
  float: right;
}

.custom-select select{
  position: relative;
  display: flex;
  width: 43.7em;
  height: 46px;
  border: 2px solid;
}

.inscription_vendeur{
  display: block;
  float: left;
  padding-top: 5px;
  margin: 0px 40px;
  font-size: 12px;
  border-bottom: 1px solid;
}

.contrat{
  font-size:1em ; 
  margin: 20px;
}



.information-perso,
.button,
.information-perso2 {
  display: block;
}

.information-perso{
  padding:50px 0px 150px 0px;
}

.container {
  display: flex;
  padding-bottom: 20px;
}


.left-container, .right-container {
  flex: 1;
  margin-right: 10px;
  
}

.left-container h4, .right-container h4 {
  margin-bottom: 5px;
}

.left-container input, .right-container input {
  width: 93%;
}

.produits-container {
  display: flex;
  justify-content: space-between;
}

.produit {
  width: 30%;
}

.produit h4,
.produit p {
    margin: 10px 0;
}

.produit img {
  width: 100%;
  height: 200px; /* Définissez ici la hauteur souhaitée */
  object-fit: cover; /* Optionnel : pour ajuster l'image à la taille spécifiée */
}


.historique-produits {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease-in-out;
}

.historique-produits.visible {
  max-height: 500px; /* Ajustez la valeur en fonction du contenu de l'historique */
  transition: max-height 0.3s ease-in-out;
}


/* page produit*/


.product-container {
  display: flex;
  gap: 30%;
  padding-top: 20px;
}

.product-image {
  flex: 1;
  display: flex;
  justify-content: space-between;
 
}

.product-image img {
  max-width: 150%;
  max-height: 600px;
}

.product-details {
  display: flex;
  flex-direction: column;
  margin-left: 5px;
  padding-top: 80px;
  width: 40%; /* Réduire la largeur de la div de droite */
}

.product-name {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}

.product-price {
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 20px;
}

.product-size {
  margin-bottom: 20px;
}

.product-size label {
  font-weight: bold;
  margin-right: 10px;
}

.product-size button {
  margin-right: 5px;
  padding: 5px 10px;
  font-size: 14px;
  background-color: inherit;/* Couleur de fond du bouton */
  
  border: 2px solid transparent; /* Bordure transparente */
  cursor: pointer;
}

.product-size button:hover {
  background-color: #d0d0d0; /* Couleur de fond au survol */
  border: 2px solid;
}

.product-size button:active {
  border: 2px solid; /* Couleur de la bordure lorsqu'appuyé */
}

.product-size button.selected {
  border: 2px solid; 
}

.add-to-cart button {
  padding: 15px 30px;
  font-size: 20px;
  font-weight: bold;
  background-color:#6cff59;
  color: #fff;
  border: none;
  cursor: pointer;
  transition: all 0.3s ease;
}

.add-to-cart button:hover {
  background-color: #6cff59;
  transform: scale(1.1);
}

.add-to-cart button:active {
  background-color: #00ff08;
  transform: scale(0.9);
}

.product-description,
.product-service {
  margin-top: 20px;
}

.product-description button,
.product-service button {
  width: 90%;
  padding: 10px;
  font-size: 14px;
  background-color: inherit; /* Fond du bouton de la même couleur que le fond du site */
  border: none;
  border-top: 2px solid black; /* Seul le bord inférieur est visible en noir */
  color: black; /* Couleur du texte */
   text-align: left; /* Alignement du texte à gauche */
}

.product-description-content,
.product-service-content {
  display: none;
  font-size: 10px;
  line-height: 1.5;
  padding: 10px;
  width: 50%;
}

.product-description-content.show,
.product-service-content.show {
  display: block;
}

.popup {
  position: fixed;
  top: 10px; /* Ajustez ces valeurs selon votre besoin */
  right: 10px; /* Ajustez ces valeurs selon votre besoin */
  background-color: #fff;
  padding: 10px;
  border: 1px solid #ccc;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  z-index: 9999;
  display: none;
}

.popup img {
  width: 50px; /* Ajustez cette valeur selon votre besoin */
  height: 50px; /* Ajustez cette valeur selon votre besoin */
  margin-right: 10px;
  vertical-align: middle;
}

.popup h3, .popup p {
  margin: 0;
  padding: 0;
}