/* styles.css */

/* Reset CSS */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Typography */
body {
    font-family: Arial, sans-serif;
    font-size: 16px;
    line-height: 1.6;
    color: #333;
}

h1, h2, h3 {
    margin-bottom: 20px;
}

p {
    margin-bottom: 10px;
}

/* Header */
header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
    margin-bottom: 20px;
}

header h1 {
    font-size: 24px;
}

nav ul {
    list-style-type: none;
    margin-top: 20px;
}

nav ul li {
    display: inline-block;
    margin-right: 10px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    padding: 10px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

nav ul li a:hover {
    background-color: #555;
}

/* Banner */
#banner {
    background-image: url('https://urlv.fr/azu8');
    background-size: cover;
    color: #fff;
    padding: 100px;
    text-align: center;
}

#banner h2 {
    font-size: 36px;
    margin-bottom: 30px;
}

#banner p {
    font-size: 18px;
    margin-bottom: 20px;
}

#banner .btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

#banner .btn:hover {
    background-color: #555;
}

/* Tracking */
#tracking {
    background-color: #f4f4f4;
    padding: 40px;
    text-align: center;
}

#tracking h2 {
    font-size: 24px;
    margin-bottom: 30px;
}

#tracking form {
    max-width: 500px;
    margin: 0 auto;
}

#tracking form label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
}



#tracking form input[type="text"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: 1px solid #ccc;
}



#tracking form input[type="submit"] {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

#tracking form input[type="submit"]:hover {
    background-color: #555;
}


/* Contact */
#contact {
    background-color: #f9f9f9;
    padding: 40px;
    text-align: center;
}

#contact h2 {
    font-size: 24px;
    margin-bottom: 30px;
}

#contact p {
    margin-bottom: 20px;
}

#contact form {
    max-width: 500px;
    margin: 0 auto;
}

#contact form label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
}

#contact form input,
#contact form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

#contact form textarea {
    height: 150px;
}

#contact form input[type="submit"] {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

#contact form input[type="submit"]:hover {
    background-color: #555;
}

/* Footer */
footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
    margin-top: 20px;
}

footer p {
    font-size: 14px;
}

/* Connexion */
#login {
    background-color: #d2b490;
    padding: 40px;
    text-align: center;
    width: 500px;
    margin: 0 auto;
    border-radius: 5%;
}

#login h2 {
    font-size: 24px;
    margin-bottom: 30px;
}

#login form {
    max-width: 500px;
    margin: 0 auto;
}

#login form label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
}

#login form input[type="text"],
#login form input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

#login form input[type="submit"] {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

#login form input[type="submit"]:hover {
    background-color: #555;
}

/* Profil */
#profile {
    background-color: #d2b490 ;
    padding: 40px;
    width: 500px;
    margin: 20px auto;
    border-radius: 5%;
}

#profile h2 {
    font-size: 24px;
    margin-bottom: 30px;
}

.profile-info {
    max-width: 500px;
    margin: 0 auto;
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.profile-info p {
    margin-bottom: 10px;
    border-radius: 5%;
}

#profile form {
    display: inline-block;
    margin-top: 20px;
}

#profile form input[type="submit"] {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

#profile form input[type="submit"]:hover {
    background-color: #555;
}

#profile ul {
    text-align: left;
    padding-left: 0;
  }
  
  #profile li {
    list-style-type: none;
    margin-bottom: 10px;
  }

/* Bouton de déconnexion */
.btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    cursor: pointer;
}

.btn:hover {
    background-color: #555;
}


.status-message {
    margin-top: 20px;
    background-color: #f2f2f2;
    padding: 10px;
    border: 1px solid #ccc;
}